body {
  background: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3f4a52;
  margin: 3%;
}

h3 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 500;
}

h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.inline {
  display: inline-block;
}

.form-control {
  display: block;
  padding: .25rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pull-right {
  float: right;
}

.chart-container {
  margin-top: 10px;
  border: 2px solid #ced4da;
  border-radius: 2px;
}

.chart-header {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 10px;
}

.center {
  text-align: center;
}

.flights-count, .airline-name {
  padding: 0 10px;
}

.chart-unit-x {
  width: 4%;
}

#svg-chart {
  background: #fff;
}
